.dataTables_wrapper
  width: 800px
  margin: 5% auto
  #insert
    label
      margin-right: 4px
    button
      margin-left: 4px
  .stdtable
    border: 0
    border-spacing: 0
    border-collapse: collapse
    .wrap-content
      white-space: nowrap
    thead
      tr
        th
          white-space: nowrap
.right
  float: right
.left
  float: left
.width64
  width: 64px
.width128
  width: 128px
.width256
  width: 256px
.width320
  width: 320px